* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html, body {
        height: 100vh;
    }
    body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(49, 49, 235);
    font: normal 1rem Arial;
    }
    h1 {
        font: 700 2rem Arial;
        color: white;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .box {
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 0.8rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 2rem 7rem 2rem 1rem;
    }
    input {
        margin-bottom: 1rem;
    }
    p {
        margin-top: 1rem;
    }
    img {
        border-radius: 50%;
        height: 15rem;
        width: 15rem;
    }